* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    padding: 30px;
    background-color: #2b1887;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
}

/* Estilo do formulário */
#toDoListForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

/* Estilo dos inputs */
#toDoListForm input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    background: #f4f4f7;
    transition: all 0.3s;
}

#toDoListForm input:focus {
    background: #e2e2f0;
}

/* Estilo do botão */
#toDoListForm button {
    background: #5a51dd;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#toDoListForm button:hover {
    background: #4842c2;
}

form input[type="radio"] {
    display: none; /*Oculta qual opção esta marcada*/
}

fieldset {
    border: none;
    display: flex;
}

fieldset legend {
    font-size: 15px;
}

.priority_option {
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority_option img {
    margin: auto;
}

/* Estilização do Item */

ul li {
    list-style: none;
}

#todo-list {
    flex-grow: 1;
    padding: 0px 10px;
}

.todo-item {
    width: 512.5px;
    height: 100px;
    background-color: #f4f2ff;
    padding: 10px;
    width: 300px;
    border-radius: 12px;
}

.todo-item h1 {
    font-size: 20px;
}

.todo-item p {
    font-size: 10px;
}

.priority_obs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
