@import "./config/_reset.less";
@import "./config/_maps.less";
@import "./sections/header.less";
@import "./sections/products.less";
@import "./config/_variables.less";

body {
  background-color: #colors[secondarycolor];
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 56px 0;
}

@media @breakPointTablet {
  .container {
    max-width: 80%;
  }
}
